{
    margin:: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Popping', sans-serif;
}

body{
    background-image: url(../images/back.jpg);
    display: flex;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.container
{/border: 1px solid red;
    position: relative;
    width: 100%;
    max-width: 1000px;
    min-height: 1000px;
    background: #fff;
    margin: 50px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    box-shadow: 0 35px 55px rgba(0,0,0,0.1);

}
.container .left_Side {
    position: relative;
    background: #003147;
    padding: 40px;

}
.profileText{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
    border-bottom:1px solid rgba(255,255,255,0.2);
    font-family : 'Quicksand', sans-serif;
}
.profileText .imgBx {
    position: relative;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;

}
.profileText .imgBx img{
    position: absolute;
    top: 0;
    left: 0;
    width:100%;
    height: 100%;
    object-fit: cover;
}
.profileText h2 {
    color: #fff;
    font-size: 1.5em;
    margin-top: 20px;
    text-transform: uppercase;
    text-align: center;
    font-weight:bolder;
    line-height:1.4em;
}
.profileText h2 span{
    font-size: 0.6em;
    font-weight: normal;
}
.title {
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
    margin-bottom: 20px;
}

.contactInfo{
    font-family : 'Quicksand', sans-serif;
}
.contactInfo ul li span {
    color: #fff;
    font-weight:300;
    list-style: none;
}
.contactInfo ul li {
    position: relative;
    list-style: none;
    margin: 10px 0;
    cursor: pointer;
}
.contactInfo li  {
    list-style: none;

}
.contactInfo ul {
    position: relative;
}
.education h5 {
    color: #03a9f4;
    font-weight: 500;
    line-height: 0.1;
}
.education h4 {
    color: #fff;
    font-weight: 500;
}
.language .percent {
    position: relative;
    width: 100%;
    height: 6px;
    background:  #081921;
    display: block;
    margin-top: 5px;
}
.language .percent div {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background: #03a9f4;
}







.container .right_Side {
    position: relative;
    background: #ffff;
    padding: 40px;
    font-family : 'Quicksand', sans-serif;
}
.about {
    margin-bottom: 50px;
}
.about:last-child {
    margin-bottom: 0;
}
.title2 {
    color: #003147;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 10px;

}
p {
    color: #333;
}


